.Layout {
    max-height: 100vh;
    /* border: 2px solid black; */
    width: 100%;

    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    
    grid-template-rows: 10% 85% 5%;
  }
  

  .Layout>main {
    display: flex;
    flex: 1 1;
    justify-content: center;
}
    
  