 .Header{
  width: 100%;
  margin-left: 25px;
 }

.line-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-bottom: 15px;
}


.button {
  background-color: #006dff;
  border-radius: 14px;
  border: 1px solid #174bd1;
  width: 87px;
  height: 32px;
  flex-shrink: 0;
  color: white;
  margin-left: 25px;
}

.logo1 {
  color: #a06de7;
  font-family: Inter;
  font-size: 24.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.logo2 {
  color: #5776f3;
  font-family: Inter;
  font-size: 25.1px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo3 {
  color: #7f73ed;
  text-align: center;
  font-family: Inter;
  font-size: 17.5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line {
  background: #E3E6E9;
  width: 1910px;
  height: 1px;
  flex-shrink: 0;
  margin-top: 18px;
}

/* .button-user-log {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  background-color: white;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease; 
} */

