.CreateActivities{
    height: 90%;
}
.buttons-option{
    background-color: #162938;
  border-radius: 14px;
  border: 1px solid #041b54;
  width: 87px;
  height: 32px;
  flex-shrink: 0;
  color: #e0e7ff;
}


.container-modal{
        height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.header h6{
    color: black;
}


.input-box{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-bottom: 10px;
    
}
.container-modal > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}
.input-box label {
    gap: 10px;
    width: 100px; /* Fixed width for labels to align inputs */
    text-align: right; /* Right align labels for RTL */
}
.input-box input{
        width: 110px;
        display: flex;
        justify-content: space-around;
        border-radius: 14px ;
        border-color: #041b54;
}

.input-box select{
    border-radius: 14px ;
 border-color: #041b54;
 height: 23px;
    width:116px;

}

.button-save{
background-color: #162938;
  border-radius: 14px;
  border: 1px solid #041b54;
  width: 87px;
  height: 32px;
  flex-shrink: 0;
  color: #e0e7ff;
}